<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <style>
      h1, h2, h3 { font-family:'Playfair Display SC', serif ; }
      h4, h5 { font-family: 'Red Hat Display', sans-serif; }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">GaminaxHome/</a>
      <a href="/computingBlog/">ComputingBlog/</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>
